* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #04f5ff;
}

.container {
  text-align: center;
}

.scoreboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-space {
  margin-bottom: -20px;
}

.logo-space img {
  max-height: 80px;
}

/* Scoreboard Styling */
.scoreboard {
  background-color: #38003c;
  border-radius: 20px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

.score-row {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}

.team-input, .score-input {
  width: 100px;
  border: none;
  padding: 15px;
  text-align: center;
  font-size: 1.5rem;
  background-color: #ffffff;
  color: #000;
}

.team-input {
  text-transform: uppercase;
}

.separator {
  color: #000;
  font-size: 2rem;
  background-color: #ffffff;
  padding: 15px;
}

.timer-section {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.timer {
  background-color: #38003c;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 15px;
  font-size: 2rem;
}

.extra-time {
  display: none; /* Start hidden by default */
  background-color: #00ff85;  /* Bright green background */
  color: #38003c;  /* Dark red text color */
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 2rem;
  margin-left: 10px; /* Space between the timer and extra time */
  white-space: nowrap; /* Prevents text from wrapping */
}

/* Control Buttons Styling */
.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.controls .btn {
  padding: 12px 20px;
  font-size: 1.1rem;
}

#extra-time-input {
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 2px solid #38003c;
  width: 100px;
}
